<h1>Welcome to your abode</h1>
<h2><%= @dwelling.name %></h2>
<!--
<%= form_for current_user, url: user_update_path(current_user.id), method: :put do |f| %>
  <%= f.hidden_field :dwelling_id, value: nil %>
  <%= f.submit "leave_abode" %>
<% end %>
-->

<h3><%= @dwelling.address %></h3>
<div id="user_expenses">
    <h4>Your Expenses</h4>
    <%= render current_user.user_expenses %>
</div>
<div id="expenses-wrapper">
    <%= render @dwelling.expenses %>
  <div id="new-expense-form-container">
    <%= render partial: "expenses/new", locals: {expense: Expense.new, dwelling_id: @dwelling.id} %>
  </div>
</div>


<p>Send the code '<%= @dwelling.secret_key %>' to your roommates to let them join this abode.</p>

<div ng-controller="CommentsCtrl">
  <form ng-submit="addComment()">
    <textarea ng-model="newComment.description" rows="5" cols="60"></textarea>
    <input type="submit" value="Add comment">
  </form>
  <ul>
    <li ng-repeat="comment in comments">
      {{comment.description}}
    </li>
  </ul>
</div>
