<h1>Your Abode: <%= @dwelling.name %></h1>
<h3><%= @dwelling.address %></h3>
<p>Invite Code: <%= @dwelling.secret_key %></p>
<!--
<%= form_for current_user, url: user_update_path(current_user.id), method: :put do |f| %>
  <%= f.hidden_field :dwelling_id, value: nil %>
  <%= f.submit "leave_abode" %>
<% end %>
-->

<div id="user_expenses">
    <h4>Your Expenses</h4>
    <%= render current_user.user_expenses %>
</div>
<div id="expenses-wrapper">
    <%= render @dwelling.expenses %>
  <div id="new-expense-form-container">
    <%= render partial: "expenses/new", locals: {expense: Expense.new, dwelling_id: @dwelling.id} %>
  </div>
</div>



<div class="comments">
  <h3>Comments</h3>
    <% @dwelling.comments.each do |comment| %>
      <p><%= current_user.name %>: <%= comment.description %></p>
    <% end %>
</div>
<div class="new-comment">
  <%= render partial: "comments/new", locals: { commentable: @dwelling, comment: Comment.new, path: abode_comments_path(@dwelling, @comment) } %>
</div>
