<h1>Welcome to your abode</h1>
<span class="dwelling-name"><%= @dwelling.name %></span>
<!--
<%= form_for current_user, url: user_update_path(current_user.id), method: :put do |f| %>
  <%= f.hidden_field :dwelling_id, value: nil %>
  <%= f.submit "leave_abode" %>
<% end %>
-->

<h3><%= @dwelling.address %></h3>
<div id="user_expenses">
    <span id="user-expense-heading">Your Expenses</span>
    <span id="user-expense-summary">
      Amount
    </span>
    <%= render current_user.user_expenses %>
</div>
<div id="expenses-wrapper">
  <ul id="expenses-list"><%= render @dwelling.expenses %></ul>
  <div id="new-expense-form-container">
    <%= render partial: "expenses/new", locals: {expense: Expense.new, dwelling_id: @dwelling.id} %>
  </div>
</div>


<p>Send the code '<%= @dwelling.secret_key %>' to your roommates to let them join this abode.</p>

<div class="comments">
  <ul>
    <% @dwelling.comments.each do |comment| %>
      <li><%= comment.description %></li>
    <% end %>
  </ul>
</div>
<div class="new-comment">
  <%= render partial: "comments/new", locals: { commentable: @dwelling, comment: Comment.new, path: abode_comments_path(@dwelling, @comment) } %>
</div>
