<h1>Your Abode: <%= @dwelling.name %></h1>
<h3><%= @dwelling.address %></h3>
<p>Invite Code: <%= @dwelling.secret_key %></p>
<!--
<%= form_for current_user, url: user_update_path(current_user.id), method: :put do |f| %>
  <%= f.hidden_field :dwelling_id, value: nil %>
  <%= f.submit "leave_abode" %>
<% end %>
-->

<div id="user_expenses">
    <span id="user-expense-heading">Your Expenses</span>
    <span id="user-expense-summary">
      Amount
    </span>
    <%= render current_user.user_expenses %>
</div>
<div id="expenses-wrapper">
  <ul id="expenses-list"><%= render @dwelling.expenses %></ul>
  <div id="new-expense-form-container">
    <%= render partial: "expenses/new", locals: {expense: Expense.new, dwelling_id: @dwelling.id} %>
  </div>
</div>

<div ng-controller="CommentsCtrl">
  <form ng-submit="addComment()">
    <textarea ng-model="newComment.description" rows="5" cols="60"></textarea>
    <input type="submit" value="Add comment">
  </form>
  <ul>
    <li ng-repeat="comment in comments">
      {{comment.description}}
    </li>
  </ul>
</div>
