<h1>Welcome, <%= @user.name %></h1>
  <%= link_to "Edit Profile", user_edit_path(current_user) %>

  <% if @user.dwelling != nil %>
    <h2>Your profile</h2>
    <p><%= @user.name %></p>
    <p><%= @user.email %></p>
    <p><%= @user.phone %></p>
    <p><%= @user.name %></p>
    <p><%= @user.dwelling_id %></p>

    <h2>Your abode</h2>
    <p><%= link_to "#{@user.dwelling.name}", dwelling_show_path(@user.dwelling.id) %></p>
    <p> Use the following code to join new users to this abode: "<%= @user.dwelling.secret_key %>"</p>
  <% else %>
    <%= link_to "Create abode", dwellings_new_path %>
    <%= link_to "Join abode", user_join_path %>
  <% end %>

