<%= flash[:error] %>
  <%= form_for @expense, url: expense_update_path(@expense.id), method: :put do |f| %>
    <%= label_tag(:name, "Name") %>
    <%= f.text_field :name, placeholder: "Name" %><br>
    <%= label_tag(:description, "Description") %>
    <%= f.text_field :description, placeholder: "Description" %><br>
    <%= label_tag(:amount, "Amount") %>
    <%= f.number_field :amount, placeholder: "Amount" %><br>

    <% @expense.user_expenses.each do |user_expense| %>
    <%= user_expense.user.name %><input class="user_expense_portion" name="user_expense[<%= user_expense.id %>][portion]" type="number" value="<%= user_expense.portion %>">
    <br>
    <% end %>
    Total: <div id="sum-of-portions"><%= @expense.amount %></div>

    <%= f.submit "Update Expense" %>
  <% end %>

