<div class="expense">
	<h2><%= @expense.dwelling.name %></h2>
	<h3><%= @expense.name %>: <%= @expense.amount %></h3>
	<p class="expense-edit"><%= link_to "Edit", expense_edit_path(@expense) %></p>
	<h3>Paid By:</h3>
	<p class="gravatar"><%= gravatar_for(@expense.payer) %></p>
	<h3>Amounts Owed:</h3>
	<% @expense.users.each do |user| %>
	<p class="gravatar"><%= gravatar_for(user) %> <%= user.user_expenses.find_by(expense_id: @expense.id).portion %></p>
	<% end %>


	<div ng-controller="CommentsCtrl">
	  <form ng-submit="addComment()">
	    <textarea ng-model="newComment.description" rows="5" cols="60"></textarea>
	    <input type="submit" value="Add comment" class="expense-comment-submit">
	  </form>
	    <h3>Comments</h3>
	    <div ng-repeat="comment in comments" class="comments">
	      <p>{{comment.description}}</p>
	    </div>
	</div>
</div>
